.navbar {
    position:absolute;
    top: 0;
    right: 0;
    width: 60%;
    background: hsla(240, 1%, 17%, 0.75);
   backdrop-filter: blur(10px);
    border: 1px solid #383838;
    border-radius: 0 20px 0 20px;
    box-shadow: var(--shadow-2);
    z-index: 5;
}
@media (max-width: 1048px) {
    .navbar{
       width: 100%;
       border-radius: 20px;
    }
}
@media (max-width: 500px) {
   .navbar-item .navbar-link{
       font-size: 12px;
       padding: 10px 2px;
       font-weight: 600;
    }
}
.navbar-list {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-item {
    list-style: none;
}
.navbar-item a {
    color: var(--light-gray);
    font-size: var(--fs-4);
    padding: 20px 7px;
    font-weight: 700;
    transition: color var(--transition-1);
}

.navbar-item a:hover { color: var(--light-gray-70);}
.navbar-item a:focus { color: var(--orange-yellow-crayola); }
.navbar-item a:active { color: var(--orange-yellow-crayola); }

