.tools {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    background:hsla(240, 1%, 17%, 0.75);
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--shadow-2);
}
@media (min-width: 600px) {
    .tools{ grid-template-columns: repeat(2, 1fr); }
  }
@media (min-width: 900px) {
    .tools { grid-template-columns: repeat(3, 1fr); }
  }
@media (min-width: 1200px) {
    .tools { grid-template-columns: repeat(4, 1fr); }
  }
.tool-box {
    padding: 20px;
    flex:1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
   background: var(--eerie-black-1);
   border: 1px solid var(--jet);
}
.tool-name{
    color: var(--white-2);
}
.icon-box {
    position: relative;
    background: var(--border-gradient-onyx);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--orange-yellow-crayola);
    box-shadow: var(--shadow-1);
    z-index: 1;
}
.icon-box::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--eerie-black-1);
    border-radius: inherit;
    z-index: -1;

}